body {
    padding-left: 200px;
    background-color: #f0f0f0;
}

@media only screen and (max-width : 992px) {
    body {
        padding-left: 0;
    }
}

a{
    color: #161616;
}

.link{
    color: #2BBBAD;
}

.menu-botao{
    color: #161616;
    margin-bottom: 16%;
    position: block;
}

nav{
    height: 0px;
}

.tamanho-menu{
    width: 200px;
}

hr{
    width: 80%;
    color: #fff;
}

.rodape{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}
